<div class="index-container">
  <div class="img-div">
    <img class="beer_img" src="images/beer.png">
  </div>
  <div class="buttons">
    <button type="button" class="btn-one">
      <a href="/beers">Check the Beers!</a>
    </button>
    <button type="button" class="btn-two">
      <a href="/random-beers">Check a Random Beer!</a>
    </button>
  </div>
</div>